@import '_colors';
@import '_params';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  color: $white;
}

// TODO - those px sizes/weights are placeholders: update with real vals
h1 {
  font-size: 64px;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 48px;
  font-weight: $font-weight-medium;
}

h3 {
  font-size: 36px;
  font-weight: $font-weight-regular;
}

h4 {
  font-size: 24px;
  font-weight: $font-weight-regular;
}

h5 {
  font-size: 22px;
  font-weight: $font-weight-regular;
}


h6 {
  font-size: 20px;
  font-weight: $font-weight-light;
}

p {
  font-size: 20px;
  font-weight: $font-weight-light;
}

a {
  font-size: 20px;
  outline: none;
  text-decoration: none;
  font-weight: $font-weight-light;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 20px;
  font-weight: $font-weight-light;
}
